.container form {
    margin-top: 3rem;
}

form input[name="city"],
form input[name="country"]{
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;
}


#city , #country {
background-color: transparent;
box-shadow: none;
color: white;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}